body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: cyan;
}

.header, .footer {
  padding: 24px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.footer {
  margin-top: auto;
}

.canvasContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5% 10%;
  border: 2px solid black;
}

.canvasRow {
  display: flex;
  flex: 1;
  justify-content: center;
}
.canvasBox {
  display: flex;
  flex: 1;
  background: white;
}