body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  padding: 24px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.footer {
  margin-top: auto;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  background-color: cyan;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5%;
}
.canvasContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5% 10%;
  border: 2px solid black;
}

.canvasRow {
  display: flex;
  flex: 1;
  justify-content: center;
}
.canvasBox {
  display: flex;
  flex: 1;
  background: white;
}